#lug-id {
    margin-left: -40rem;
}

#first-panel-left {
    min-width: 0rem;
}

#second-slide {
    width: 35rem;
}

#last-slide {
    min-width: 0rem;
}

/* chartdiv css */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chartdiv {
    width: 100%;
    height: 500px;
    background-color: white;
  }

#chartsize {
    width: 35rem;
    padding: 2rem;
}